:root{
    /* Esto sirve para agregar propiedades por uno mismo en CSS */
    --colorglobal:#05023d;
    --TextClaro:white;
    --colorglobal2:linear-gradient(to bottom, #dd2476, #ff512f);

}

body{
    font-family: "Titillium Web", sans-serif;
    border:1px solid black;
}


.Navbar{
    border:1px solid black;
}

.container{
    border:1px solid black;
}

header{
    background: var(--colorglobal2);
    color:var(--TextClaro);
}

main{
    /* Se agrega !important para que predomine esta configuración height */
    height: auto !important;
    height: 100%;
    /* Se agrega 80vh para el algoritmo reserve el 80 % del view port*/
    min-height: 80vh;
}

footer{
    background-color: rgba(0, 0, 0, 0.215);
}

.iconos i{
    color:var(--colorglobal);
}