body{
    font-family: "Titillium Web", sans-serif;
    border:1px solid black;
}


.Navbar{
    border:1px solid black;
}

.container{
    border:10px solid black;
}

main{
    /* Se agrega !important para que predomine esta configuración height */
    height: auto !important;
    height: 100%;
    /* Se agrega 80vh para el algoritmo reserve el 80 % del view port*/
    min-height: 80vh;
}

footer{
    background-color: rgba(0, 0, 0, 0.215);
}

.iconos i{
    color:#dd2478;
}